.grid-container {
    padding-top: 10%;
}

.hContent img {
    width: 20%;
    height: auto;

}

h1 {
    grid-area: Header1;
    text-align: center;
}

h2 {
    grid-area: Header2;
    display: flex;
    padding-left: 40%;
    padding-top: 20%;
}

.BestSeller {
    grid-area: Image;
    padding-right: 20%;
}

.BestSeller img {
    width: 70%;
    height: auto;
}

.gameContent1 img {
    width: 75%;
    height: auto;
}

.gameContent2 img {
    width: 75%;
    height: auto;
}

.gameContent1 {
    grid-area: gameContent1;
    display: flex;
    text-align: center;
    
}

.gameContent2 {
    grid-area: gameContent2;
    display: flex;
    text-align: center;

}

/* Grid for the head section */

.hContent {
    display: grid;
    grid-area: Headers;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    gap: 10%;
    justify-content: space-evenly;
    grid-template-areas: 
    'Header1 Header1'
    'Header2 Image';
}

/* The grid for Main content. Standard configurations are defined in general.css */

main {
    display: grid;
    grid-area: Main;
    grid-template-areas: 
    'Headers'
    'gameContent1'
    'gameContent2';
    row-gap: 12%;
}

@media all and (max-width: 900px) {
    .footer img {
        width: 30%;
        
    }

    .footer .buttons {
        padding: 25px 7px;
        font-size: 60%;
    }
}

@media all and (max-width: 600px) {
    .grid-container {
        row-gap: 100%;
        padding-top: 25%;
    }
    
    main {
        row-gap: 40%;
    }

    .hContent {
        row-gap: 20%;
    }

}