.GameInfo {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 40% auto;
    gap: 10%;
    grid-template-areas:
    'h1 h1'
    'ping h2'
    'ping h3'
    'super h4'
    'super continue';
    
}

.ping_pong_game {
    grid-area: ping;
    display: flex;
    justify-self: center;
    align-items: center;
    align-self: center;
    width: 40%;
    height: auto;
}

.super_duper_game {
    grid-area: super;
    display: flex;
    justify-self: center;
    align-items: center;
    align-self: center;
    width: 40%;
    height: auto;

}

main {
    padding-top: 10%;
}

h2, h3, h4 {
    font-size: 150%;

}

h1 {
    display: flex;
    grid-area: h1;
    justify-self: center;
}

h2 {
    display: flex;
    grid-area: h2;
}

h3 {
    display: flex;
    grid-area: h3;
}

h4 {
    display: flex;
    grid-area: h4;
}

#Continue {
    display: flex;
    grid-area: continue;
    justify-self: left;
    max-height: 50px;
}

@media all and (max-width: 1100px){
    .grid-container {
        row-gap: 100%;
    }
}

@media all and (max-width: 900px) {
    .grid-container {
        row-gap: 70%;
    }
}

@media all and (max-width: 450px) {
    h1, h2, h3, h4 {
        font-size: 80%;
    }

    .GameInfo {
        row-gap: 10%;
    }

    #Continue {
        padding: 5px 5px;
        font-size: 60%;
    }

    .grid-container {
        row-gap: 120%;
    }


}

@media all and (max-width: 400px) {
    .grid-container {
        row-gap: 80%;
    }
}

